<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Książka kontaktowa{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen" />
</head>
<body>
<div id="topPanel">
    <a href="http://localhost:8000/showAll"><button>Kontakty</button></a>
    <a href="http://localhost:8000/newPhone"><button>Nowy Telefon</button></a>
    <a href="http://localhost:8000/newMail"><button>Nowy Email</button></a>
    <a href="http://localhost:8000/newAddress"><button>Nowy Adres</button></a>
</div>
<div class="mainContainer">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>