body {
    background-color: lightblue;
}


table {
    width: 75%;
    text-align: center;
}

th {
    height: 50px;
    text-align: center;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid black;
    font-size: 130%;
}

button:hover {
    cursor:pointer;
}

.mainContainer {
    margin-left: 160px;
    margin-right: 160px;
}

input[type="submit"]:hover {
    cursor:pointer;
}

#main {
    text-align: center;
}
