body {
    background-color: lightblue;
}

table, th, td {

}

table {
    width: 50%;
    text-align: center;
}

th {
    height: 50px;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid black;
}

button:hover {
    cursor:pointer;
}

.mainContainer {
    margin-left: 360px;
    margin-right: 360px;
}

input[type="submit"]:hover {
    cursor:pointer;
}
